@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
}

/*默认为row，横向排列*/
.flex-items-center {
  display: flex;
  align-items: center;
}

.flex-items-baseline {
  display: flex;
  align-items: baseline;
}

.flex-baseline-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*左右居中*/
.flex-center {
  display: flex;
  justify-content: center;
}

/*两边排列*/
.flex-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*左中右排列*/
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*两边排列, 换行*/
.flex-slide-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*上下排列*/
.flex-col-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*左右垂直居中*/

.flex-abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*横向左右垂直居右*/
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*纵向左右垂直居中*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
